<a href="/celebrities">Go Back</a>
<br><br>
<h2> Celebrity Bio </h2>
<br>
<div>
    <h2>Name: {{name}}</h2>
    <br>
    <br>
    <h2>Occupation: {{occupation}}</h2>
    <br>
    <br>
    <br>
    <h2>Catch Phrase: {{catchPhrase}}</h2>
</div>