{{!-- Shengwei's solution --}}

{{!-- <a href="/celebrities">Go Back</a>
<br><br>

<h2>Edit Celebrity</h2>

<br>
<br>

<form action="/celebrity/{{_id}}/edit" method="POST">
    <div>
        <label for="" class="form-label">name </label> <br>
        <input type="text" name="name" value="{{name}}">
    </div>
    <div>
        <br>

        <label for="" class="form-label">Occupation </label> <br>
        <input type="text" name="occupation" value="{{occupation}}">
    </div>
    <br>
    <div>
        <label for="" class="form-label">Catch Phrase </label> <br>
        <input type="text" name="catchPhrase" value="{{catchPhrase}}"> </input>
    </div>
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
</form> --}}