<a href="/celebrities">Go Back</a>
<br><br>

<h1> Hello There New Celebrity</h1>


<form action="/celebrities/create" method="POST">
    <div>
        <label for="" class="form-label"> Name </label> <br>
        <input type="text" name="name">
    </div>
    <div>
        <label for="" class="form-label">Occupation </label> <br>
        <input type="text" name="occupation">
    </div>
    <div>
        <label for="" class="form-label">Catch Phrase </label> <br>
        <textarea type="text" name="catchPhrase"> </textarea>
    </div>
    <div>
        <button type="submit">Add New Celeb</button>
    </div>
</form>

