<h1>Movies</h1>

<a href="/movies/create">Create new movie</a>

{{#each result}}

<div>
    <h2>{{title}}</h2>
    <h2>{{genre}}</h2>
    <h2>{{plot}}</h2>
    <div>
        <ul>
            {{#each cast}}

            <li>{{this.name}}</li>

            {{/each}}


        </ul>

    </div>
</div>

{{/each}}